.form-feedback {
  display: grid;
  grid-row-gap: 20px;
}

.form-feedback input {
  padding: 14px 29px 8px;
  border: 1px solid $grey-4;
  border-radius: 6px;
  color: $black-1;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form-feedback__btn {
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: $basic-turquoise;
  color: $black-1;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
