.main-offer {
  min-height: 825px;
  background-color: $black-1;
  background-image: url("../img/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: $basic-white;
  margin-bottom: 100px;
  background-size: 100% 100%;

  @media (max-width: $max-tablet) {
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
    background-color: inherit;
    background-image: none;
    color: $black-1;
  }
}

.main-offer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-top: 320px;
  width: 880px;

  @media (max-width: $max-tablet) {
    display: block;
    width: auto;
    padding-top: 0;
  }
}

.main-offer__container {
  margin-top: 12px;
  width: 393px;
  box-sizing: border-box;

  @media (max-width: $max-tablet) {
    width: auto;
    min-height: 340px;
    background-color: $black-1;
    background-image: url("../img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $basic-white;
    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile) {
    min-height: 390px;
    background-image: url("../img/bg-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-mobile@2x.jpg");
    }
  }
}

.main-offer__container h2 {
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.5%;
  margin-bottom: 23px;
  padding-top: 0;

  @media (max-width: $max-tablet) {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.5%;
    text-align: center;
    margin-top: 0;
    padding-top: 135px;
    margin-bottom: 20px;
  }

  @media (max-width: $max-mobile) {
    padding-top: 122px;
  }
}

.main-offer__container p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5%;
  opacity: 0.8;
  color: $basic-white;

  @media (max-width: $max-tablet) {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 435px;
  }

  @media (max-width: $max-mobile) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }
}

.main-offer__container-form {
  width: 327px;

  @media (max-width: $max-tablet) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    width: 321px;
  }

  @media (max-width: $max-mobile) {
    width: 288px;
  }
}

.main-offer__container-form p {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;

  @media (max-width: $max-tablet) {
    margin-bottom: 30px;
    font-size: 18px;
    width: 324px;
  }

  @media (max-width: $max-mobile) {
    width: 288px;
    margin-bottom: 21px;
  }
}

.main-offer__container-form form {
  display: grid;
  grid-row-gap: 20px;
  width: auto;

  @media (max-width: $max-tablet) {
    width: auto;
  }

  @media (max-width: $max-mobile) {
    width: auto;
  }
}

.main-offer__container-form input {
  padding: 14px 29px 8px;
  border: 1px solid $grey-4;
  border-radius: 6px;
  color: $black-1;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: $max-tablet) {
    padding: 11px 21px;
  }

  @media (max-width: $max-mobile) {
    padding: 11px 22px 11px 24px;
  }

  &:hover {
    border-color: $basic-turquoise;
  }

  &:active,
  &:focus {
    outline: none;
    border-width: 3px;
    border-color: $basic-turquoise;
  }
}

.main-offer__container-form button {
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: $basic-turquoise;
  color: $black-1;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: $max-tablet) {
    padding: 16px 15px 15px;
  }

  @media (max-width: $max-mobile) {
    padding-top: 12px;
  }

  &:hover {
    background-color: darken($basic-turquoise, 10);
  }

  &:active,
  &:focus {
    background-color: darken($basic-turquoise, 20);
  }
}
