.page-header__nav {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  width: 880px;
  min-height: 338px;
  @media (max-width: $max-tablet) {
    display: block;
    padding-top: 0;
    width: 100%;
    min-height: auto;
  }
}

.page-header__container {
  order: 1;
  margin-top: 239px;
  @media (max-width: $max-tablet) {
    display: flex;
    align-items: flex-end;
    padding-left: 21px;
    margin-top: 0;
  }
  @media (max-width: $max-mobile) {
    padding-left: 17px;
  }
}

.page-header__btn {
  display: none;

  @media (max-width: $max-tablet) {
    cursor: pointer;
    position: relative;
    display: block;
    margin-left: auto;
    border: none;
    width: 50px;
    height: 50px;
    background-color: $basic-turquoise;
  }
}
