html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
